<!-- your html code here -->
<div class="container mt-5 p-5 bg-light">
    <div class="row ">
        <div class="col">
            <h2>The First Heading <span class="form-text">Will Catch Your Eye.</span></h2> 
            <p>Donec ullarncorper nulla ron metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-3">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/022/495/879/small/computer-icon-in-flat-design-style-desktop-monitor-signs-illustration-png.png" alt="compuer-services">
        </div>
  
      