<!-- your html code here -->
<div class="container bg-white my-1 mx-auto p-5">
    <div class="row">
        <div class="col">
            <h2>Porfolio</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Veniam reprehenderit a fugit totam tempora molestias sequi pariatur 
                voluptatem voluptatum facere, illum adipisci illo 
                dolorum, aspernatur tenetur voluptates itaque, sapiente obcaecati.</p>
        </div>
    <div class="row">
        <div class="col-4">
            <img src="/website/assets/img/big-project-image.png" alt="" width="300px" height="200px">
            <h5 class="py-3"><a href="#" class="text-decoration-none">Project Name</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores laudantium perspiciatis, accusamus, id officiis numquam praesentium possimus consectetur ipsa non aliquid repudiandae. Unde, vel corrupti excepturi assumenda tempora culpa quas.</p>
        </div>
        <div class="col-4">
            <img src="/website/assets/img/big-project-image.png" alt="" width="300px" height="200px">
            <h5 class="py-3"><a href="#" class="text-decoration-none">Project Name</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores laudantium perspiciatis, accusamus, id officiis numquam praesentium possimus consectetur ipsa non aliquid repudiandae. Unde, vel corrupti excepturi assumenda tempora culpa quas.</p>
        </div>
        <div class="col-4">
            <img src="/website/assets/img/big-project-image.png" alt="" width="300px" height="200px">
            <h5 class="py-3"><a href="#" class="text-decoration-none">Project Name</a></h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores laudantium perspiciatis, accusamus, id officiis numquam praesentium possimus consectetur ipsa non aliquid repudiandae. Unde, vel corrupti excepturi assumenda tempora culpa quas.</p>
        </div>
    </div>
    </div>
</div>