<!-- your html code here -->
<div class="container bg-white my-1 mx-auto p-5">
    <div class="row ">
      <div class="col-3">
        <img src="/website/assets/img/2.jpg" class="rounded-circle ms-4" alt="compuer-services" width="225px">
      </div>
      <div class="col">
        <h2>The Second Heading <span class="form-text">Is Pretty Cool Too.</span></h2> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolores labore
             blanditiis corporis nulla mollitia, fugit minima voluptate hic nesciunt,
             perferendis dolore quis placeat quae provident, aut doloribus atque accusantium!
        </p>
      </div>
    </div>
  </div>