<!-- your html code here -->
<div class="container bg-white my-2 mx-auto p-5">
    <div class="row ">
      <div class="col-3">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/022/495/879/small/computer-icon-in-flat-design-style-desktop-monitor-signs-illustration-png.png" alt="compuer-services">
      </div>
      <div class="col">
        <h2>The Second Heading <span class="form-text">Is Pretty Cool Too.</span></h2> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolores labore
             blanditiis corporis nulla mollitia, fugit minima voluptate hic nesciunt,
             perferendis dolore quis placeat quae provident, aut doloribus atque accusantium!
        </p>
      </div>
    </div>
  </div>